/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Blocks
	# Media
		# Captions
		# Galleries (Legacy)
# Post and page content
	# Alignments
	# Custom block colors
	# Custom font sizes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_blocks.css";
@import "_media.css";

/*--------------------------------------------------------------
# Post and page content
--------------------------------------------------------------*/

/* Custom rule  for sticky posts:
.sticky {

}
*/

.card {
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	line-height: 1.2;

	& .entry-header {
		margin: 0;
		padding: 0.5rem 1rem;
	}

	& .entry-title {
		font-size: 1rem;
		text-transform: none;
	}

	& .entry-title,
	& .entry-taxonomies,
	& .entry-meta {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	& a {
		text-decoration: none;
	}

	& .author a {
		color: inherit;
		font-size: 0.875rem;
	}

	& .term-links a {
		color: inherit;
		font-weight: 400;
	}
}

.blog .card__thumbnail,
.search-results .card__thumbnail {
	position: relative;
}

.card__thumbnail-placeholder {
	background-color: #999;
}

.card__thumbnail-mask {
	display: none;
}

@media (--card-horizontal-layout-query) {

	.card {
		display: grid;

		& .entry-title {
			font-size: 1.125rem;
		}
	}

	.blog .card,
	.search-results .card {
		grid-template-columns: 3fr 5fr;
		grid-column-gap: 1.5rem;
		min-height: 250px;

		& .entry-header {
			margin: 1rem 0;
			padding-left: 0;
		}
	}

	.search-results .cards {
		grid-template-columns: 1fr;
	}

	.blog .card__thumbnail,
	.search-results .card__thumbnail {
		overflow: hidden;
	}

	.card__thumbnail-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.archive .card__thumbnail {
		clip-path: circle(150% at -10% -120%);
	}

	.blog .card__thumbnail-mask,
	.search-results .card__thumbnail-mask {
		display: block;
		position: absolute;
		top: -1px;
		right: -1px;
		height: calc(100% + 2px);
	}

	.archive .card__thumbnail-mask {
		display: none;
		position: absolute;
		bottom: 0;
		left: -1px;
		width: 100%;
	}

	.card__thumbnail-placeholder {
		height: 0;
		padding-top: 55.5%;
	}

	.blog .card__thumbnail-placeholder,
	.search-results .card__thumbnail-placeholder {
		height: 100%;
		padding-top: 0;
	}
}

.entry,
.entry-taxonomies {
	margin-bottom: 1rem;
}

.entry-taxonomies,
.posted-on,
.entry-footer {
	font-size: 0.875rem;
}

.tag-links::before,
.voxia-sector-activity-links::before,
.posted-on::before {
	content: "|";
	margin-left: 0.5em;
	margin-right: 0.25em;
}
.author a,
.term-links a {
	font-weight: 700;
	text-decoration: none;
}

.posted-on a {
	color: inherit;
	font-weight: 600;
	text-decoration: none;
}

/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}

.post-thumbnail img {
	margin: 0 auto;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-content > *,
.entry-content > *,
.entry-summary > * {
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	max-width: var(--content-width);
}

.entry-content > ul,
.entry-content > ol {
	padding-right: 2.5em;
	padding-left: 2.5em;
}

.page-header,
.entry-header,
.entry-footer,
.post-navigation,
.page-navigation,
.comments-area {
	margin: 1.5em 0;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	/* stylelint-disable */
	max-width: var(--content-width);
	/* stylelint-enable */
}

.cards {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

@media (--cards-vertical-2-columns-query) {

	.cards {
		display: grid;
		grid-gap: 1.5rem;
		grid-template-columns: repeat(2, 1fr);
	}

	.card {
		margin-bottom: 0;
	}

}

@media (--cards-vertical-3-columns-query) {

	.cards {
		grid-template-columns: repeat(3, 1fr);
	}

	.blog .cards {
		grid-template-columns: repeat(2, 1fr);
	}

}

@media (--cards-horizontal-2-columns-query) {

	.blog {
		& .cards {
			grid-auto-rows: 3rem;
		}

		& .card {
			grid-row: span 4;
		}
	}

}

@media (--sidebar-query) {

	.has-sidebar {

		& .page-content > *,
		& .entry-content > *,
		& .entry-summary > *,
		& .page-header,
		& .entry-header,
		& .entry-footer,
		& .post-navigation,
		& .page-navigation,
		& .comments-area {
			padding-left: 0;
			padding-right: 0;
		}

		& .entry-content > ul,
		& .entry-content > ol {
			padding-right: 2.5em;
			padding-left: 2.5em;
		}
	}

}

@media (--wide-query) {

	.cards,
	.article-grid,
	.page-content > *,
	.entry-content > *,
	.entry-summary > *,
	.page-header,
	.entry-header,
	.entry-footer,
	.post-navigation,
	.page-navigation,
	.comments-area {
		margin-left: calc(50% - var(--wide-width) / 2);
		padding-left: 0;
		padding-right: 0;
	}

	.cards,
	.article-grid {
		max-width: var(--wide-width);
	}

	.has-sidebar {

		& .page-content > *,
		& .entry-content > *,
		& .entry-summary > *,
		& .page-header,
		& .entry-header,
		& .entry-footer,
		& .post-navigation,
		& .page-navigation,
		& .comments-area {
			margin-left: 0;
		}
	}

}

/* Align .more-link with the content. */
.entry-content > .more-link {
	display: block;
}

.page-header {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.page-links {
	clear: both;
	margin-bottom: 1.5em;
}

.entry-footer span {
	margin-right: 1em;
}

/* stylelint-disable */
.entry-footer {
	clear: both;
	padding: 0 1.5rem 0;

	@media (--content-query) {

		padding-right: 0;
		padding-left: 0;

	}
}
/* stylelint-enable */

/*--------------------------------------------------------------
## Alignments
--------------------------------------------------------------*/
.alignleft {
	float: left;
	margin-right: 1.5rem;
}

.alignright {
	float: right;
	margin-left: 1.5rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignwide {
	max-width: var(--wide-width);
}

.alignfull {
	max-width: 100%;
	padding: 0;
}

/*--------------------------------------------------------------
## Custom block colors.
--------------------------------------------------------------*/

.has-theme-primary-color,
.has-theme-primary-color a {
	color: var(--color-theme-primary);
}

.has-theme-primary-background-color {
	background-color: var(--color-theme-primary);
}

.has-theme-secondary-color,
.has-theme-secondary-color a {
	color: var(--color-theme-secondary);
}

.has-theme-secondary-background-color {
	background-color: var(--color-theme-secondary);
}

.has-theme-red-color,
.has-theme-red-color a {
	color: var(--color-theme-red);
}

.has-theme-red-background-color {
	background-color: var(--color-theme-red);
}

.has-theme-green-color,
.has-theme-green-color a {
	color: var(--color-theme-green);
}

.has-theme-green-background-color {
	background-color: var(--color-theme-green);
}

.has-theme-blue-color,
.has-theme-blue-color a {
	color: var(--color-theme-blue);
}

.has-theme-blue-background-color {
	background-color: var(--color-theme-blue);
}

.has-theme-yellow-color,
.has-theme-yellow-color a {
	color: var(--color-theme-yellow);
}

.has-theme-yellow-background-color {
	background-color: var(--color-theme-yellow);
}

.has-theme-black-color,
.has-theme-black-color a {
	color: var(--color-theme-black);
}

.has-theme-black-background-color {
	background-color: var(--color-theme-black);
}

.has-theme-grey-color,
.has-theme-grey-color a {
	color: var(--color-theme-grey);
}

.has-theme-grey-background-color {
	background-color: var(--color-theme-grey);
}

.has-theme-white-color,
.has-theme-white-color a {
	color: var(--color-theme-white);
}

.has-theme-white-background-color {
	background-color: var(--color-theme-white);
}

.has-custom-daylight-color,
.has-custom-daylight-color a {
	color: var(--color-custom-daylight);
}

.has-custom-daylight-background-color {
	background-color: var(--color-custom-daylight);
}

.has-custom-sun-color,
.has-custom-sun-color a {
	color: var(--color-custom-sun);
}

.has-custom-sun-background-color {
	background-color: var(--color-custom-sun);
}

/*--------------------------------------------------------------
## Custom block font sizes.
--------------------------------------------------------------*/

.has-small-font-size {
	font-size: var(--font-size-small);
}

.has-regular-font-size {
	font-size: var(--font-size-regular);
}

.has-large-font-size {
	font-size: var(--font-size-large);
}

.has-larger-font-size {
	font-size: var(--font-size-larger);
}
