/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.primary-sidebar {
	padding: 1.5rem;

	& .widget-title {
		  text-transform: lowercase;
	}

	& .widget {
		text-align: right;
	}

	& .rss-widget-icon {
		margin-left: auto;
	}
}

@media (--sidebar-query) {

	.primary-sidebar {
		padding: 0;
	}
}
