/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.primary-sidebar {
	padding: 1.5rem;

	& .widget-title {
		text-transform: lowercase;
	}

	& .rss-widget-icon {
		margin-left: auto;
	}
}

@media (--sidebar-query) {

	.primary-sidebar {
		padding: 0;

		& .widget {
			text-align: right;
		}
	}
}
